body, html{
    background-color: #1A3C39;
    font-family: 'Fira Sans', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.containerAll{
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerLogin {
    color: white;
}

.container_inner {
    background-color:white ;
    width: 900px;
    height: 550px;
    display: flex;
}

.sloga{
    width: 50%;
    height: 100%;
    background-color: #32726E;
}

.container-form-login{
    position: absolute;
    margin-left: 550px;
    margin-top: 70px;
    color: black;
}

.email-input-login{
    background-image: url('../../assets/account_circle.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 40px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
    text-align: center;
}

.email-input-login:focus{
    background-image: none;
}

.senha-input-login{
    background-image: url('../../assets/lock.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 40px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
    text-align: center;
}

.senha-input-login:focus{
    background-image: none;
}

.entrar-button-login{
    height: 50px;
    width: 260px;
    background-color: #32726E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entrar-button-login:hover{
    background-color: #32726ed3;
}

.linkLogin{
    text-decoration: none;
}

.linkLogin:hover{
    color: #32726E;
}