body, html{
    background-color: #1A3C39;
    font-family: 'Fira Sans', sans-serif;
}

.ArmazenLogo{
    position: absolute;
    margin-top: 10px;
}

.img-logo{
    margin-bottom: 20px;
    padding-right: 20px;
}

.main_title{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.container {
    width: 100vw;
    height: 100vh;
    margin-top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.container_inner {
    background-color:white ;
    width: 900px;
    height: 550px;

    display: flex;
    flex-direction: column;
    position: relative;
}

.sloga{
    width: 50%;
    height: 100%;
    background-color: #32726E;
}

.container-form{
    position: absolute;
    margin-left: 550px;
    margin-top: 100px;
    color: black;
}

.email-label{
    font-weight: bold;
}

.email-input{
    background-image: url('../../assets/account_circle.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 180px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
    text-align: center;
}

.email-input:focus{
    background-image: none;
}

.senha-label{
    font-weight: bold;
}

.senha-input{
    background-image: url('../../assets/lock.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 30px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
    text-align: center;
}

.senha-input:focus{
    background-image: none;
}

.entrar-button{
    height: 50px;
    width: 260px;
    background-color: #32726E;
    color: white;
    border: none;
    border-radius: 5px;
}

.entrar-button:hover{
    background-color: #32726e81;
}



.link{
    text-decoration: none;
    color: inherit;
}

.link:hover{
    color: #32726E;
}