  .modalContainer {
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background-color: #33736F;
    box-shadow: rgba(0, 0, 0, 1.0) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
  }
  
  .titleCloseBtn button {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    border-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .titleCloseBtn button:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .titleCloseBtn button:hover{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(-2px);
  }
  
  .modalContainer .body {
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
    position: relative;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  