.form-armazem-container{
    position: relative;
}

.floating-label-group-formulario{
    text-align: center;
}

.floating-label-formulario{
    font-size: 12px;
}

.form-control-formulario{
    width: 250px;
    height: 20px;
    border-style: solid;
    border-color: black;
}

.footer-buttons{
    margin-top: 50px;
}

#cancelBtn{
    background-color: crimson;
}