
.containerHome{
    color: #33736F;
    background-color: #DBDBDB;
    margin: 0 0 0 0;
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  align-items: center;
  height: 80vh;
  background-color: hsl(175, 40%, 17%);
}

.wrapper-modal{
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header{
  background-color: #33736F;
}

.header::after{
  content: '';
  display: table;
  clear: both;
}