.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.painel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}