
.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    width: 250px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
    background-color: #FCFCFD;
    color: #33736F;
    flex: 0 1 20%;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
   
.card p {
    color: black;
    font-size: 16px;
}
