.fullscreen {
    position:relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: flex;
}

.fundo {
    color: white;
    background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);
    min-height: 100vh;
    overflow-x: hidden;
}

.espacamento {
    padding: 15px;
    margin: 10px;
}

.section {
    padding: 35px;
}

.position {
    padding-right: 50px;
    padding-left: 30px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 5px;
    column-width: 200px;
    column-gap: 50px;
    border-color: grey;
}