body, html{
    background-color: #1A3C39;
}

.container-cadastro-all{
    display: grid;
    justify-content: center;
    align-items: center;
}

.container_innerCadastro {
    background-color: #32726E ;
    width: 900px;
    height: 550px;
    display: flex;
}

.esquerda{ 
    width: 50%;
    height: 100%;
    background-color: white;
    color: black;
    padding-top: 30px;
    padding-left: 80px;
}

.direita{
    position: absolute;
    margin-left: 450px;
    color: white;
}

.email-input-cadastro{
    width: 260px;
    height: 30px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
}

.senha-input-cadastro{
    width: 260px;
    height: 30px;
    border-radius: 8px;
    background-color: #D9D9D9;
    border: none;
}

.entrar-button-cadastro{
    height: 50px;
    width: 260px;
    background-color: #32726E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.entrar-button-cadastro:hover{
    background-color: #32726e81;
}

.main_title{
    padding-left: 55px;
    font-size: 45px;
}

