.sign-up-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-wrapper {
    background-color: white;
    width: 900px;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-up-form {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-form-fields {
    font-size: 13px;
    color: #32726e;

    input {
        width: 250px;
        height: 30px;
    }
}

.sign-up-submit {
    margin-top: 20px;
    height: 50px;
    width: 260px;
    background-color: #32726e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-up-submit:hover {
    background-color: #32726ee0;
    box-shadow: rgba(45, 35, 66, 0.4);
}

.sign-up-footer {
    a {
        color: black;
    }

    a:hover {
        color: #000000a8;
    }
}