.conteiner-produtos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
    height: 50vh;
    background-color: hsl(175, 40%, 17%);
    font-size: 1.5em;
    column-width: 5px;
}

.tableT {
    display: table;
    width: 100%;
    border: 1px solid;
    text-align: center;
}

th, td{
    border: 1px, solid black
}

thead th {
    width: 25%;
}