.conteiner-produtos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
    height: 50vh;
    background-color: hsl(175, 40%, 17%);
    font-size: 1em;
    column-width: 5px;
}

.tableT {
    width: 100%;
    border: 2px solid;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 8px;
}

th, td{
}

thead th {
}